body {
    font-family: "Overpass", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #e7473c;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #e7473c;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

.presentation {
    background-image: url("Images/drapeau.jpg");
	background-size: cover;
    padding: 30px;
	text-align: right;
	color: white;
	background-position-y: 750px;
}

.newyork {
    text-align: center;
	color: white;
	background-image: url("Images/newyork.jpg");
	background-size: cover;
	background-position-y: 650px;
}

.parcs {
    text-align: center;
	color: white;
	background-image: url("Images/parcs.jpg");
	background-size: cover;
	background-position-y: 500px;
}

.michigan {
    text-align: center;
	color: white;
	background-image: url("Images/michigan.jpg");
	background-size: cover;
	background-position-y: 400px;
}

.images {
	width: 30%;
	margin: auto;
	display: block;
}
